.novousuario-voltar {
    position: absolute;
    top: 12px;
    left: 12px;
}

.novousuario-title {
    text-align: center;
}

.novousuario-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;
    margin: 12px auto;
}