.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    max-width: 400px;
}